body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.splash {
    text-align: center;
    font-size: 72px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.custom-progress { width: 100px; height: 100px; font-size: 40px; }
.custom-progress-idle { display: none; }
.custom-progress-busy .check { display: none; }
.custom-progress-done .spinner { display: none; }

@media(min-width:1000px) {
    .invoice-template {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    
        -webkit-transform-origin: top left;
        -moz-transform-origin: top left;
        -o-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
    }
}